@if (store.error()) {
	<app-error [message]="store.error()"></app-error>
}
<div class="converter-container">
	<form [formGroup]="form">
		<div class="input-fields">
			@if (store.currencies()) {
				<div class="converter-currencies">
					<div class="baseCurrency-container">
						<div class="converter-amount">
							<mat-form-field>
								<input
									matInput
									type="number"
									step="0.01"
									min="0"
									formControlName="toBeConverted"
									placeholder="Enter amount"
								/>
							</mat-form-field>
						</div>
						<div class="base-currency">
							<mat-form-field>
								<mat-select
									formControlName="baseCurrency"
									(selectionChange)="formSubmit()"
								>
									@for (currency of store.currencies(); track currency.id) {
										<mat-option [value]="currency.short_code">{{
											currency.name
										}}</mat-option>
									}
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="targetCurrency-container">
						<div class="currency-value">
							<mat-form-field>
								<input
									matInput
									[value]="store.targetCurrencyValue() | number: '1.2-2'"
									readonly
								/>
							</mat-form-field>
						</div>
						<div class="currency-select">
							<mat-form-field>
								<mat-select
									formControlName="targetCurrency"
									(selectionChange)="formSubmit()"
								>
									@for (currency of store.currencies(); track currency.id) {
										<mat-option [value]="currency.short_code">{{
											currency.name
										}}</mat-option>
									}
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			}
		</div>
	</form>

	<!-- <mat-card class="converter-card">
		<mat-card-content>
			<p>
				<span>{{ store.targetCurrencyValue() | number: "1.2-2" }}</span>
			</p>
		</mat-card-content>
	</mat-card> -->
</div>
